.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: start;
    margin: 0 auto 100px;
    width: 920px;
    padding-left: 0;
  }
  