/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    display: flex;
    position: absolute;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    right: 0;
    top: 64px;
    z-index: 1;
    animation: rotation 20s ease-in-out infinite;
  }