.feynman__title {
    font-size: 120px;
    font-weight: bold;
    line-height: 1.15;
    width: 648px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 100px;
  }
  