      .khan__buy-link {
        font-size: 30px;
        font-weight: normal;
        line-height: 42px;
        color: #2f80ed;
        padding-top: 0;
        text-decoration: none;
      }
      
      .khan__buy-link:hover {
        opacity: 0.5;
        transition: ease-in-out .3s;
      }